/*FONTS
font-family: 'Sacramento', cursive;
font-family: 'Spinnaker', sans-serif;*/


body {
    font-family: sans-serif; 
}

header {
    width: 100%;
}

.my-name {
    font-family: 'Sacramento', cursive;
    background-color: tomato;
    text-align: center;
    line-height: 5rem;
    position: static;
    color: white;
    font-size: 4.0rem;
    padding: 1rem;
    font-weight: normal;
}

nav {
    font-family: 'Spinnaker', sans-serif;
    background-color: teal;
    font: 1rem;
    line-height: 3rem;
    text-align: center;
    position: static;
    top: 80px;
    width: 100%;
}

    li {
        display: inline-block;
        text-decoration: none;
        margin: 0rem 7rem;
    }
/*.mission-statement-image {
	background-color: tomato;
    width: 75%;
    position: fixed;
    top: 119px;
    line-height: 15rem;
    text-align: center;
    font-size: 2rem;
}*/

.cover-letter {
    font-size: 1.5rem;
    text-align: center;
    position: static;
    top: 352px;
    width: 75%;
	background-color: tomato;
}

footer {
    background-color: grey;
    width: 100%;
}