/*Landing page styles*/
img {
    vertical-align: middle;
    position: fixed;
    bottom: -5rem;
    left: 5%;
}

h3 {
	position: fixed;
    top: 40%;
    left: 40%;
    font-family: Quicksand;
    font-size: 5rem;
    line-height: 5rem;
    width: 70rem;
}