/*FONTS
font-family: 'Sacramento', cursive;
font-family: 'Spinnaker', sans-serif;*/


body {
    font-family: sans-serif;
    overflow: hidden;
}

header {
    display: inline-block;
    overflow: hidden;
/*    background-color: lightcyan;
*/    width: 100%;
}

    .my-name {
        float: left;
        margin: 1rem;
        font-size: 4.5rem;
        font-weight: normal;
        font-family: "Sacramento", cursive;
        color: turquoise;
}
    
    
nav {
    float: right;
    position: fixed;
    top: 1.5rem;
    right: 0rem;
    margin-right: 2rem;
    line-height: 3rem;
    font-size: 1.25rem;
    font-family: "Spinnaker", sans-serif;
}
        
        li {
            display: inline-block;
            text-decoration: none;
            margin: 0rem 1rem;
            color: tomato;
        }

.main {
        width: 60%;
        text-align: center;
        left: 4.25rem;
        margin: 0 auto;
   }

        .column-1 {
            width: 250px;
            height: 250px;
            float: left;
            background-color: lightcyan;
            padding: 2%;
            font-family: "Spinnaker", sans-serif;
        }

        .column-2 {
            width: 250px;
            height: 250px;
            float: left;
            background-color: lightcyan;
            margin-left: 4.5%;
            padding: 2%;
            font-family: "Spinnaker", sans-serif;

        }

        .column-3 {
            width: 250px;
            height: 250px;
            float: right;
            background-color: lightcyan;
            margin-right: 0rem;
            padding: 2%;
            font-family: "Spinnaker", sans-serif;

        }

/*.mission-statement-image {
    background-color: tomato;

    width: 75%;
    position: fixed;
    top: 119px;
    line-height: 15rem;
    text-align: center;
    font-size: 2rem;
}*/

.page-circle {
    background-color: tomato;
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    font-family: "Spinnaker", sans-serif;
    border: solid .5rem;
    border-style: dashed;
    margin: 28rem auto;
    /* position: fixed; */
}

    .circle-photo {
        border-radius: 50%;
        position: fixed;
        bottom: -81rem;
        left: -3rem;
    }

    .page-title {
        text-align: center;
    /* position: fixed; */
        width: 100%;
        color: white;
        font-size: 1.75rem;
        bottom: 4rem;
        left: 40rem;
        font-size: 1.75rem;
        color: white;
        margin: 6rem auto;
    }

.social-media {
    position: fixed;
    top: 8.25rem;
}

