@media (min-width: 0px) and (max-width: 1500px) {
    
body {
    font-family: sans-serif;
    overflow: scroll;
}

header {
    background-color: white;
}

    .my-name {
        font-size: 3.75rem;
        font-weight: normal;
        font-family: "Sacramento", cursive;
        color: turquoise;
        position: fixed;
        top: -1rem;
        left: -1rem;
        background-color: white;
        width: 100%;
        padding: 1rem;
    }
            
    nav {
        float: right;
        position: fixed;
        top: 1.5rem;
        right: 0rem;
        margin-right: 2rem;
        line-height: 3rem;
        font-size: 1.25rem;
        font-family: "Spinnaker", sans-serif;
        display: none;
    }

   /* .hamburger span {
          background-color: black;
            display: block;
            border-radius: 0.33333em;
            height: 0.33333em;
            margin: 0.33333em 0;
            width: 2em;
            z-index: 1;
            position: fixed;
            top: 7rem;
    }*/
    
            
            li {
                text-decoration: none;
            }

                .main-nav {
                    color: tomato;
                }

.main {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

    .education {
        width: 98%;
        background-color: lightcyan;
        margin: 125px auto 0 auto;
    }

    .experience {
        width: 98%;
        background-color: lightcyan;
        margin: 20px auto 0 auto;
        padding: 0% 1%;
    }

    .skills {
        width: 98%;
        background-color: lightcyan;
        margin: 20px auto 0 auto;
        padding: 0% 1%;
    }

        .rows {
            overflow: hidden;
            display: inline-block;
            text-decoration: none;
        }

        .row-1 {
            float: left;
            width: 50%;
            padding-left: 0rem;
        }

        .row-2 {
            float: right;
            width: 50%;
            padding-left: 0rem;
        }

.page-circle {
    background-color: tomato;
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    font-family: "Spinnaker", sans-serif;
    border: solid .5rem;
    border-style: dashed;
    margin: 28rem auto;
    /* position: fixed; */
    display: none;
}

    .circle-photo {
        border-radius: 50%;
        position: fixed;
        bottom: -81rem;
        left: -3rem;
        display: none;
    }

    .page-title {
        text-align: center;
    /* position: fixed; */
        width: 100%;
        color: white;
        font-size: 1.75rem;
        bottom: 4rem;
        left: 40rem;
        font-size: 1.75rem;
        color: white;
        margin: 6rem auto;
        display: none;
    }

.mission-text {
    text-align: center;
    width: 50%;
    position: fixed;
    top: 15rem;
    left: 22rem;
    font-size: 1.5rem;
    font-family: "Spinnaker", sans-serif;
}
