/*FONTS
font-family: 'Sacramento', cursive;
font-family: 'Spinnaker', sans-serif;*/


body {
	font-family: sans-serif;
}

header {
    width: 100%;
    position: relative;
    top: -5rem;
    height: 7.4rem;
}

.my-name {
    font-family: 'Sacramento', cursive;
    background-color: tomato;
    text-align: center;
    color: white;
    font-size: 6.5rem;
    padding: 1rem;
	font-weight: normal;
}

nav {
    font-family: 'Spinnaker', sans-serif;
	background-color: white;
    font: 1.25rem;
    line-height: 3rem;
    text-align: center;
    position: relative;
    top: -5.4rem;
    width: 100%;
}

	li {
		display: inline-block;
		text-decoration: none;
		margin: 0rem 7rem;
		color: tomato;
	}

.main {
	width: 75%;
	float: left;
}

.section-title {
	font-family: 'Sacramento', cursive;
	font-size: 4.5rem;
	font-weight: normal;
}

.section-subtitle {
	font-size: 2rem;
}

.section-info {
	font-size: 1.5rem;
}


	.skills {
		background-color: lightcyan;
	    font-family: 'Spinnaker', sans-serif;
	    position: static;
	    top: 111px;
	    padding: 1.5rem;
	}

	 .experience {
	    background-color: lightcyan;
	    font-family: 'Spinnaker', sans-serif;
	    position: static;
	    top: 111px;
	    padding: 1.5rem;
	}

	.hobbies {
		background-color: lightcyan;
	    font-family: 'Spinnaker', sans-serif;
	    position: static;
	    top: 111px;
	    padding: 1.5rem;
	}

.sidebar {
	width: 25%;
	float: right; 
    background-color: #fff849;
}

	.arya-photo {
	    border-radius: 50%;
    	border: white solid 13px;
    	margin-top: 4.5rem;
    	/*position: relative;
    	top: 1rem;
    	left: 1.5rem;*/
    }

	.education {
	    text-align: center;
   	 	font-family: 'Spinnaker', sans-serif;
   	 	padding: 2.9rem 0rem;
	}

		.school {
			font-size: 2rem;
		}

			.degree {
				font-size: 1.5rem;
   				margin: 1.75rem;
			}

footer {
    width: 100%;
    display: inline-block;
    background-color: tomato;
 }

 	.social-media {
 		text-align: center;
  		padding: 1rem;
    	position: relative;
    	top: 3rem;
 	}

 	.contact {
 		text-align: center;
    	font-family: 'Sacramento', sans-serif;
    	font-size: 3rem;
 	}

 		.message {
 			position: relative;
  			top: -3rem;
    		height: 6rem;
    		border-radius: 10%;
 		}

 		.submit-button {
 			position: relative;
 			top: -3rem;
 		}