.my-name {
	background-color: tomato;
}

nav {
	background-color: teal; 
}

.mission-statement-image {
	background-color: tomato;

}

.mission-statement-text {
	background-color: teal;
	width: 75%;
}

.cover-letter {
	background-color: tomato;
	width: 75%;
}

footer {
	background-color: grey;
	width: 25%;
	position: 
}
	.arya-photo {
		border-radius: 50%;
    	margin: 4px;
    	border: white solid 5px
   	}
